@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Protest+Strike&display=swap');
html { scroll-behavior: smooth; }


::selection {
  color: #F299C1;
  background-color: rgb(49, 49, 49);
}

* {
  outline: none;
  font-family: "Inter", sans-serif;
}

body{
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #181818;
  
}

.noise {
  position: relative;
  z-index: 1;
}

.noise:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 300px;
  opacity: 0.05;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.strike{
  font-family: "Protest Strike", sans-serif;
}

.drag{
  -webkit-app-region: drag;
}

.no-drag{
  -webkit-app-region: no-drag;
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none
}

.root{
  transition: none;
}
